<!-- navbar betzaita materialize -->
<nav class="nav-extended">
  <div class="nav-wrapper">
    <a class="brand-logo" style="padding-left: 25px;"><img src="../../../assets/logo car.png" width="30px" height="30px" alt=""></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">FIPE API</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">FIPE API</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a [routerLink]="'/autos'">Autos</a></li>
      <li class="tab"><a class="active" [routerLink]="'/motos'">Motos</a></li>
      <li class="tab"><a [routerLink]="'/modelos'">Modelos</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">FIPE API</a></li>
</ul>

<!-- navbar betzaita materialize -->



<!-- <div *ngFor="let vari of new_var" class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{ vari.nome }}</h5>
      <p class="card-text">{{ vari.codigo }}</p>
    </div>
  </div> -->

<body style="background-color: #f1f1f1;">

  <br>
    <div class="row" style="text-align: center; color: darkgoldenrod;">
      <div class="col s12"><h5>AUTOS</h5></div>
    </div>

  <div class="wrap container-fluid" >
    <div  class="row" style="text-align: center;">

     <!-- INICIO DE TARJETA -->
    <div *ngFor="let vari of new_var" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s2">
            <img src="../../../assets/car.png" height="40px" width="40px" alt="" class="circle responsive-img">
          </div>
          <div class="col s10">
            <h5 class="card-title"> <p style="color: chocolate; text-align: left;">Name:</p>{{ vari.nome }}</h5>
            <br>
            <p class="card-text" style="text-align: right; color: darkcyan;">Codigo: {{ vari.codigo }}</p>
          </div>
        </div>
      </div>
      </div>
      <!-- FIN DE TARJETA -->
    

  </div>
  </div>
  
</body>