<!-- navbar betzaita materialize -->
<nav class="nav-extended">
  <div class="nav-wrapper">
    <a class="brand-logo" style="padding-left: 25px;"><img src="../../../assets/logo car.png" width="30px" height="30px" alt=""></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">FIPE API</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="sass.html">FIPE API</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a [routerLink]="'/autos'">Autos</a></li>
      <li class="tab"><a class="active" [routerLink]="'/motos'">Motos</a></li>
      <li class="tab"><a [routerLink]="'/modelos'">Modelos</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">FIPE API</a></li>
</ul>

<!-- navbar betzaita materialize -->

<body style="background-color: #f1f1f1;">

  <br>
  <div class="row" style="text-align: center; color: darkgoldenrod;">
    <div class="col s12"><h5>VALOR</h5></div>
  </div>




<!-- <div *ngFor="let infor of data" class="card" style="width: 18rem;"> -->
    <!-- <div class="card" style="width: 18rem;"> -->
      <!-- <div class="card-body"> -->


        <!-- <h5 class="card-title">{{ infor.Valor.data }}</h5> -->
        <!-- <p class="card-text">{{ info.Marca }}</p>
        <p class="card-text">{{ info.Modelo }}</p>
        <p class="card-text">{{ info.AnoModelo }}</p>
        <p class="card-text">{{ info.Combustivel }}</p>
        <p class="card-text">{{ info.CodigoFipe }}</p>
        <p class="card-text">{{ info.MesReferencia }}</p>
        <p class="card-text">{{ info.TipoVeiculo }}</p>
        <p class="card-text">{{ info.SiglaCombustivel }}</p> -->

        <!-- <h1>AnoModelo: 2020</h1>
        <h1>CodigoFipe: 005340-6</h1>
        <h1>Combustivel: Diesel</h1>
        <h1>Marca: VW - VolksWagen</h1>
        <h1>MesReferencia: julho de 2021</h1>
        <h1>Modelo: AMAROK High.CD 2.0 16V TDI 4x4 Dies. Aut</h1>
        <h1>SiglaCombustivel: D</h1>
        <h1>TipoVeiculo: 1</h1>
        <h1>Valor: R$ 212.838,00</h1> -->




      <!-- </div>
    </div> -->
    <div class="row" style="text-align: center;">
      <div class="col s3"></div>
      <div class="col s6" style="background-color: #ffffff;">
      
        <div class="collection">
          <!-- <a  class="collection-item active">Alvin</a> -->
          <a  class="collection-item">
              <h6 style="color: darkgoldenrod; text-align: left;" class="card-title">Año: </h6>
              <p>2020</p>
          </a>
          <a  class="collection-item">
              <h6 style="color: darkgoldenrod; text-align: left;" class="card-title">Código fipe: </h6>
              <p>005340-6</p>
          </a>
          <a  class="collection-item">
              <h6 style="color: darkgoldenrod; text-align: left;" class="card-title">Combustible: </h6>
              <p>Diesel</p>
          </a>
          <a  class="collection-item">
              <h6 style="color: darkgoldenrod; text-align: left;" class="card-title">Marca: </h6>
              <p>VW - VolksWagen</p>
          </a>
          <a  class="collection-item">
              <h6 style="color: darkgoldenrod; text-align: left;" class="card-title">Mes de referencia: </h6>
              <p>julho de 2021</p>
          </a>
          <a  class="collection-item">
              <h6 style="color: darkgoldenrod; text-align: left;" class="card-title">Modelo de vahículo: </h6>
              <p>AMAROK High.CD 2.0 16V TDI 4x4 Dies. Aut</p>
          </a>
          <a  class="collection-item">
              <h6 style="color: darkgoldenrod; text-align: left;" class="card-title">Sigla de combustible: </h6>
              <p>D</p>
          </a>
          <a  class="collection-item">
              <h6 style="color: darkgoldenrod; text-align: left;" class="card-title">Tipo de vehículo:</h6>
              <p>1</p>
          </a>
          <a  class="collection-item">
              <h6 style="color: darkgoldenrod; text-align: left;" class="card-title">Precio: </h6>
              <p>R$ 212.838,00</p>
          </a>
        </div>
      
      </div>
      <div class="col s3"></div>
    </div>


<!--     
<br><br><br><br><br><br><br> -->


  </body>